@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Light.eot');
	src: local('☺'), url('../fonts/Merriweather-Light.woff') format('woff'), url('../fonts/Merriweather-Light.ttf') format('truetype'), url('../fonts/Merriweather-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Bold.eot');
	src: local('☺'), url('../fonts/Merriweather-Bold.woff') format('woff'), url('../fonts/Merriweather-Bold.ttf') format('truetype'), url('../fonts/Merriweather-Bold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-LightItalic.eot');
	src: local('☺'), url('../fonts/Merriweather-LightItalic.woff') format('woff'), url('../fonts/Merriweather-LightItalic.ttf') format('truetype'), url('../fonts/Merriweather-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
